@import 'vendors/normalize.css';
@import './variables.scss';

body {
  background-color: #f2f2f2;
  font-family: 'Oxygen', sans-serif;
}

a,
a:visited {
  color: $theme-color;
}

.app-container {
  // padding-top: $headerHeight;
}

.text-left {
  text-align: left;
}

.btn-primary {
  font-size: 20px;
  text-align: center;
  width: 100%;
  background: $theme-color;
  border: 0;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.err {
  color: $err-color !important;

  label {
    color: $err-color !important;
  }

  input {
    color: $err-color !important;
    border-color: $err-color !important;
  }
}

.mtb-1 {
  margin: 1rem 0;
}

.mt-1 {
  margin-top: 1rem;
}

.fs-18 {
  font-size: 18px;
}

.theme-color {
  color: $theme-color;
}

footer {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.m-auto {
  margin: auto;
}
