.main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  min-height: 400px;
  position: relative;
  top: -80px;
}

.main-logo {
  height: 150px;
  width: 150px;
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 991px) {
    height: 100px;
    width: 100px;
  }
}

.main-logo-title {
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 5px;
  color: #475adb;
  margin-bottom: 10px;
  user-select: none;
}

.main-logo-subtitle {
  color: #888;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-input {
  width: 80vw;
  max-width: 575px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 18px;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;

  @media screen and (max-width: 991px) {
    width: 90vw;
    font-size: 1rem;
    height: 46px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submit {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    min-width: 150px;
    font-size: 18px;
    background: #475adb;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 7px 6px 22px 1px rgba(0, 0, 0, 0.24);
    user-select: none;

    &:hover {
      background: #475adbc7;
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }
}
