<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      {{if and .SEO .SEO.title}} {{.SEO.title}} {{else}} Shorty {{end}}
    </title>

    {{if and .SEO .SEO.keywords}}
    <meta name="keywords" content="{{.SEO.keywords}}" />
    {{end}} {{if and .SEO .SEO.description}}
    <meta name="description" content="{{.SEO.description}}" />
    {{end}}

    <link rel="shortcut icon" href="/assets/logo.png" />
    <link rel="manifest" href="/assets/manifest.json" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/css/app.css?a8f4e397e6f84072c107" rel="stylesheet"></head>
  <body>
    <div id="root"></div>
  <script type="text/javascript" src="/assets/vendor/vendor.bc3a4e54c4d2fcc85ce6.chunk.js?a8f4e397e6f84072c107"></script><script type="text/javascript" src="/assets/app.e33bc9c0e768eb0c7817.js?a8f4e397e6f84072c107"></script></body>
</html>
